<p style="color: green"><%= notice %></p>


<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4"><%= render @product %></h1>
    </div>
  </div>
</main>
<div>
  <%= link_to "Edit this product", edit_product_path(@product) %> |
  <%= link_to "Back to products", products_path %>

  <%= button_to "Destroy this product", @product, method: :delete %>
</div>
